AdExpress/Service References/AdExpressWcfService/AdExpressWcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AdExpressServices.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AdExpressServices.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Ad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ad" nillable="true" type="tns:Ad" />
  <xs:complexType name="ArrayOfAd">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ad" nillable="true" type="tns:Ad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAd" nillable="true" type="tns:ArrayOfAd" />
  <xs:complexType name="Newspaper">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Newspaper" nillable="true" type="tns:Newspaper" />
  <xs:complexType name="ArrayOfNewspaper">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Newspaper" nillable="true" type="tns:Newspaper" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNewspaper" nillable="true" type="tns:ArrayOfNewspaper" />
  <xs:complexType name="Association">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ad" nillable="true" type="tns:Ad" />
      <xs:element minOccurs="0" name="AdId" type="xs:int" />
      <xs:element minOccurs="0" name="EndDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Newspaper" nillable="true" type="tns:Newspaper" />
      <xs:element minOccurs="0" name="NewspaperId" type="xs:int" />
      <xs:element minOccurs="0" name="StartDateTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Association" nillable="true" type="tns:Association" />
  <xs:complexType name="ArrayOfAssociation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Association" nillable="true" type="tns:Association" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssociation" nillable="true" type="tns:ArrayOfAssociation" />
</xs:schema>