AdExpress/Service References/AdExpressWcfService/AdExpressWcfService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:37510/AdExpressWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AdExpressServices.Models" />
  <xs:element name="AddAd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AdExpressServices.Models" minOccurs="0" name="AddAdResult" nillable="true" type="q1:Ad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAdsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAdsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AdExpressServices.Models" minOccurs="0" name="GetAllAdsListResult" nillable="true" type="q2:ArrayOfAd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AdExpressServices.Models" minOccurs="0" name="FindAdResult" nillable="true" type="q3:Ad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AdExpressServices.Models" minOccurs="0" name="ad" nillable="true" type="q4:Ad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AdExpressServices.Models" minOccurs="0" name="SaveAdResult" nillable="true" type="q5:Ad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AdExpressServices.Models" minOccurs="0" name="ad" nillable="true" type="q6:Ad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewspaper">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewspaperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AdExpressServices.Models" minOccurs="0" name="AddNewspaperResult" nillable="true" type="q7:Newspaper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNewspapers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNewspapersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AdExpressServices.Models" minOccurs="0" name="GetAllNewspapersResult" nillable="true" type="q8:ArrayOfNewspaper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindNewspaper">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindNewspaperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AdExpressServices.Models" minOccurs="0" name="FindNewspaperResult" nillable="true" type="q9:Newspaper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewspaper">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AdExpressServices.Models" minOccurs="0" name="newspaper" nillable="true" type="q10:Newspaper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewspaperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AdExpressServices.Models" minOccurs="0" name="SaveNewspaperResult" nillable="true" type="q11:Newspaper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveNewspaper">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AdExpressServices.Models" minOccurs="0" name="newspaper" nillable="true" type="q12:Newspaper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveNewspaperResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAssociation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="adID" type="xs:int" />
        <xs:element minOccurs="0" name="newspaperID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAssociationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AdExpressServices.Models" minOccurs="0" name="AddAssociationResult" nillable="true" type="q13:Association" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAssociations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAssociationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AdExpressServices.Models" minOccurs="0" name="GetAllAssociationsResult" nillable="true" type="q14:ArrayOfAssociation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAssociation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAssociationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AdExpressServices.Models" minOccurs="0" name="FindAssociationResult" nillable="true" type="q15:Association" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAssociation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AdExpressServices.Models" minOccurs="0" name="association" nillable="true" type="q16:Association" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAssociationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AdExpressServices.Models" minOccurs="0" name="SaveAssociationResult" nillable="true" type="q17:Association" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAssociation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AdExpressServices.Models" minOccurs="0" name="association" nillable="true" type="q18:Association" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAssociationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>